@inject DeleteUpsUseCase DeleteUseCase

@using RackPeek.Domain.Resources.Hardware.Models
@using RackPeek.Domain.Resources.Hardware.UpsUnits
@using RackPeek.Web.Components.Modals
<div class="border border-zinc-800 rounded p-4 bg-zinc-900">
    <div class="flex justify-between items-center mb-3">
        <div class="text-zinc-100 hover:text-emerald-300">
            <NavLink href="@($"/resources/hardware/{Ups.Name}")" class="block">

            @Ups.Name
</NavLink>
            </div>

        <div class="flex justify-between items-center mb-3">
            @if (!string.IsNullOrWhiteSpace(Ups.Model))
            {
                <span class="text-xs text-zinc-400">
                    @Ups.Model
                </span>
            }
            <div class="flex items-center gap-2">
                
                <button
                    class="text-xs text-red-400 hover:text-red-300 transition"
                    title="Delete server"
                    @onclick="ConfirmDelete">
                    Delete
                </button>
            </div>
        </div>

        

    </div>

    <div class="text-sm">

        @if (Ups.Va is not null)
        {
            <div>
                <div class="text-zinc-400 mb-1">Speed</div>
                <div class="text-zinc-300">
                    @Ups.Va VA
                </div>
            </div>
        }

    </div>
</div>

<ConfirmModal
    IsOpen="_confirmDeleteOpen"
    IsOpenChanged="v => _confirmDeleteOpen = v"
    Title="Delete server"
    ConfirmText="Delete"
    ConfirmClass="bg-red-600 hover:bg-red-500"
    OnConfirm="DeleteServer">
    Are you sure you want to delete <strong>@Ups.Name</strong>?
</ConfirmModal>

@code {
    [Parameter] [EditorRequired] public Ups Ups { get; set; } = default!;
}

@code {
    private bool _confirmDeleteOpen;
    [Parameter]
    public EventCallback<string> OnDeleted { get; set; }
    
    void ConfirmDelete()
    {
        _confirmDeleteOpen = true;
    }

    async Task DeleteServer()
    {
        _confirmDeleteOpen = false;

        await DeleteUseCase.ExecuteAsync(Ups.Name);

        if (OnDeleted.HasDelegate)
            await OnDeleted.InvokeAsync(Ups.Name);
    }
}
