@page "/resources/hardware/{HardwareName}"
@using RackPeek.Domain.Resources.Hardware
@using RackPeek.Domain.Resources.Hardware.Models
@using RackPeek.Web.Components.AccessPoints
@using RackPeek.Web.Components.Components
@using RackPeek.Web.Components.Desktops
@using RackPeek.Web.Components.Switches
@using RackPeek.Web.Components.Servers
@using RackPeek.Web.Components.Systems
@inject IHardwareRepository HardwareRepository
@inject GetHardwareSystemTreeUseCase GetHardwareSystemTreeUseCase

<PageTitle>Hardware Details</PageTitle>

<ResourceBreadCrumbComponent
    ResourceType="ResourceType.Hardware"
    ResourceName="@HardwareName"/>

<div class="min-h-screen bg-zinc-950 text-zinc-200 font-mono p-6">
    @if (_hardware is null && !_loading)
    {
        <div class="text-zinc-500">Hardware not found</div>
    }
    else if (_loading)
    {
        <div class="text-zinc-500">loading hardware…</div>
    }
    else
    {
        <h1 class="text-lg text-zinc-100 mb-6">
            @_hardware.Name (@_hardware.Kind)
        </h1>

        @if (_hardware is Server server)
        {
            <ServerCardComponent Server="server"/>
        }
        else if (_hardware is Desktop desktop)
        {
            <DesktopCardComponent Desktop="desktop"/>
        }
        else if (_hardware is AccessPoint accessPoint)
        {
            <AccessPointCardComponent AccessPoint="accessPoint"/>
        }
        else if (_hardware is Switch _switch)
        {
            <SwitchCardComponent Switch="_switch"/>
        }
        else
        {
            <div class="text-zinc-400">
                No detailed view for hardware type: @_hardware.Kind
            </div>
        }

        @if (_tree is not null && _tree.Systems.Any())
        {
            <HardwareDependencyTreeComponent Tree="_tree"/>
        }
        else
        {
            <div class="text-zinc-400 m-2">
                No child systems / services
            </div>
        }
        
        <div class="m-4">
            <AddSystemComponent RunsOn="@HardwareName"/>
        </div>
    }
</div>

@code {
    [Parameter] public string HardwareName { get; set; } = string.Empty;

    private Hardware? _hardware;
    private bool _loading = true;
    HardwareDependencyTree? _tree;

    protected override async Task OnInitializedAsync()
    {
        _hardware = await HardwareRepository.GetByNameAsync(HardwareName);
        _tree = null;
        if (!string.IsNullOrEmpty(_hardware?.Name))
        {
            _tree = await GetHardwareSystemTreeUseCase.ExecuteAsync(_hardware?.Name!);
        }

        _loading = false;
    }


}