@using RackPeek.Domain.Resources.Servers
@using RackPeek.Domain.Resources.SubResources
@using RackPeek.Domain.UseCases.Cpus
@using RackPeek.Domain.UseCases.Drives
@using RackPeek.Domain.UseCases.Gpus
@using RackPeek.Domain.UseCases.Nics
@inject IAddCpuUseCase<Server> AddCpuUseCase
@inject IRemoveCpuUseCase<Server> RemoveCpuUseCase
@inject IUpdateCpuUseCase<Server> UpdateCpuUseCase

@inject IAddDriveUseCase<Server> AddDriveUseCase
@inject IUpdateDriveUseCase<Server> UpdateDriveUseCase
@inject IRemoveDriveUseCase<Server> RemoveDriveUseCase

@inject IAddNicUseCase<Server> AddNicUseCase
@inject IUpdateNicUseCase<Server> UpdateNicUseCase
@inject IRemoveNicUseCase<Server> RemoveNicUseCase

@inject IAddGpuUseCase<Server> AddGpuUseCase
@inject IUpdateGpuUseCase<Server> UpdateGpuUseCase
@inject IRemoveGpuUseCase<Server> RemoveGpuUseCase

@inject IGetResourceByNameUseCase<Server> GetByNameUseCase
@inject UpdateServerUseCase UpdateUseCase
@inject IDeleteResourceUseCase<Server> DeleteUseCase
@inject ICloneResourceUseCase<Server> CloneUseCase

@inject IRenameResourceUseCase<Server> RenameUseCase
@inject NavigationManager Nav

<div class="border border-zinc-800 rounded p-4 bg-zinc-900"
     data-testid=@($"server-item-{Server.Name.Replace(" ", "-")}")>
    <div class="flex justify-between items-center mb-3">
        <div class="text-zinc-100 hover:text-emerald-300">
            <NavLink href="@($"resources/hardware/{Server.Name}")" class="block"
                     data-testid=@($"server-item-{Server.Name.Replace(" ", "-")}-link")>
                @Server.Name
            </NavLink>

        </div>

        <div class="flex justify-between items-center mb-3">

            <div class="flex items-center gap-2">

                <button
                    data-testid="rename-server-button"
                    class="text-xs text-blue-400 hover:text-blue-300 transition"
                    @onclick="OpenRename">
                    Rename
                </button>

                <button
                    data-testid="clone-server-button"
                    class="text-xs text-emerald-400 hover:text-emerald-300 transition"
                    @onclick="OpenClone">
                    Clone
                </button>

                <button
                    data-testid="delete-server-button"
                    class="text-xs text-red-400 hover:text-red-300 transition"
                    @onclick="ConfirmDelete">
                    Delete
                </button>

            </div>
        </div>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 text-sm">

        <div data-testid="server-cpu-section">
            <div class="flex items-center justify-between mb-1 group">
                <div class="text-zinc-400">CPU
                    <button
                        class="hover:text-emerald-400 group-hover:opacity-100 transition"
                        title="Add CPU"
                        data-testid="add-cpu-button"
                        @onclick="OpenAddCpu">
                        +
                    </button>
                </div>
            </div>

            @if (Server.Cpus?.Any() == true)
            {
                <!-- CPU rows -->
                @foreach (var cpu in Server.Cpus)
                {
                    <div
                        class="flex items-center justify-between text-zinc-300 group hover:bg-zinc-800/40 rounded px-1 py-0.5">

                        <div class="flex gap-2 group-hover:opacity-100 transition">
                            <button
                                data-testid=@($"edit-cpu-{cpu.ToString().Replace(" ", "-")}")
                                class="hover:text-emerald-400"
                                title="Edit CPU"
                                @onclick="() => OpenEditCpu(cpu)">
                                @cpu.Model — @cpu.Cores cores / @cpu.Threads threads
                            </button>
                        </div>
                    </div>
                }
            }
        </div>


        <div>
            <div class="text-zinc-400 mb-1">RAM
                @if (Server.Ram is null)
                {
                    <button
                        class="hover:text-emerald-400 group-hover:opacity-100 transition"
                        title="Add RAM"
                        @onclick="EditRam">
                        +
                    </button>
                }
            </div>
            @if (Server.Ram is not null)
            {
                <div
                    class="flex items-center justify-between text-zinc-300 group hover:bg-zinc-800/40 rounded px-1 py-0.5">
                    <div class="flex gap-2 group-hover:opacity-100 transition">
                        <button
                            class="hover:text-emerald-400"
                            title="Edit RAM"
                            @onclick="EditRam">
                            @($"{Server.Ram.Size} GB {Server.Ram.Mts} MT/s")
                        </button>
                    </div>
                </div>
            }
        </div>


        <div>
            <div class="flex items-center justify-between mb-1 group">
                <div class="text-zinc-400">Drives
                    <button
                        class="hover:text-emerald-400 group-hover:opacity-100 transition"
                        title="Add Drive"
                        @onclick="OpenAddDrive">
                        +
                    </button>
                </div>
            </div>

            @if (Server.Drives?.Any() == true)
            {
                @foreach (var drive in Server.Drives)
                {
                    <div
                        class="flex items-center justify-between text-zinc-300 group hover:bg-zinc-800/40 rounded px-1 py-0.5">

                        <div class="flex gap-2 group-hover:opacity-100 transition">
                            <button
                                class="hover:text-emerald-400"
                                title="Edit Drive"
                                @onclick="() => OpenEditDrives(drive)">
                                @drive.Type — @drive.Size GB
                            </button>
                        </div>
                    </div>
                }
            }
        </div>

        <div>
            <div class="flex items-center justify-between mb-1 group">
                <div class="text-zinc-400">
                    NICs
                    <button
                        class="hover:text-emerald-400 group-hover:opacity-100 transition"
                        title="Add NIC"
                        @onclick="OpenAddNic">
                        +
                    </button>
                </div>
            </div>

            @if (Server.Nics?.Any() == true)
            {
                @foreach (var nic in Server.Nics)
                {
                    <div
                        class="flex items-center justify-between text-zinc-300 group hover:bg-zinc-800/40 rounded px-1 py-0.5">
                        <button
                            class="hover:text-emerald-400"
                            title="Edit NIC"
                            @onclick="() => OpenEditNic(nic)">
                            @nic.Type — @nic.Speed Gbps (@nic.Ports ports)
                        </button>
                    </div>
                }
            }
        </div>


        <div>
            <div class="flex items-center justify-between mb-1 group">
                <div class="text-zinc-400">
                    GPUs
                    <button
                        class="hover:text-emerald-400 group-hover:opacity-100 transition"
                        title="Add GPU"
                        @onclick="OpenAddGpu">
                        +
                    </button>
                </div>
            </div>

            @if (Server.Gpus?.Any() == true)
            {
                @foreach (var gpu in Server.Gpus)
                {
                    <div
                        class="flex items-center justify-between text-zinc-300 group hover:bg-zinc-800/40 rounded px-1 py-0.5">
                        <button
                            class="hover:text-emerald-400"
                            title="Edit GPU"
                            @onclick="() => OpenEditGpu(gpu)">
                            @gpu.Model — @gpu.Vram GB VRAM
                        </button>
                    </div>
                }
            }
        </div>


    </div>
    <ResourceTagEditor Resource="Server"
                       TestIdPrefix="server" />


    <div class="md:col-span-2">
        <div class="text-zinc-400 mb-1">Notes</div>

        @if (!_editingNotes)
        {
            <MarkdownViewer
                Value="@Server.Notes"
                ShowEditButton="true"
                OnEdit="BeginNotesEdit"
                TestIdPrefix="server-markdown"/>
        }
        else
        {
            <MarkdownEditor
                @bind-Value="_notesDraft"
                ShowActionButtons="true"
                OnSave="SaveNotes"
                OnCancel="CancelNotesEdit"
                TestIdPrefix="server-markdown"/>

        }
    </div>

</div>

<CpuModal
    IsOpen="@_cpuModalOpen"
    IsOpenChanged="v => _cpuModalOpen = v"
    Value="@_editingCpu"
    OnSubmit="HandleCpuSubmit"
    OnDelete="HandleCpuDelete"
    TestIdPrefix="server-cpu"/>


<RamModal
    IsOpen="@_isRamModalOpen"
    IsOpenChanged="v => _isRamModalOpen = v"
    Value="@Server.Ram"
    OnSubmit="HandleRamSubmit"
    TestIdPrefix="server-ram"/>


<DriveModal
    IsOpen="@_driveModalOpen"
    IsOpenChanged="v => _driveModalOpen = v"
    Value="@_editingDrive"
    OnSubmit="HandleDriveSubmit"
    OnDelete="HandleDriveDelete"
    TestIdPrefix="server-drive"/>


<NicModal
    IsOpen="@_nicModalOpen"
    IsOpenChanged="v => _nicModalOpen = v"
    Value="@_editingNic"
    OnSubmit="HandleNicSubmit"
    OnDelete="HandleNicDelete"
    TestIdPrefix="server-nic"/>

<GpuModal
    IsOpen="@_gpuModalOpen"
    IsOpenChanged="v => _gpuModalOpen = v"
    Value="@_editingGpu"
    OnSubmit="HandleGpuSubmit"
    OnDelete="HandleGpuDelete"
    TestIdPrefix="server-gpu"/>

<ConfirmModal
    IsOpen="_confirmDeleteOpen"
    IsOpenChanged="v => _confirmDeleteOpen = v"
    Title="Delete server"
    ConfirmText="Delete"
    ConfirmClass="bg-red-600 hover:bg-red-500"
    OnConfirm="DeleteServer"
    TestIdPrefix="server-delete">
    Are you sure you want to delete <strong>@Server.Name</strong>?
    <br/>
    This will detach all dependent systems.
</ConfirmModal>

<StringValueModal
    IsOpen="_renameOpen"
    IsOpenChanged="v => _renameOpen = v"
    Title="Rename server"
    Description="Enter a new name for this server"
    Label="New server name"
    Value="@Server.Name"
    OnSubmit="HandleRenameSubmit"
    TestIdPrefix="server-rename" />

<StringValueModal
    IsOpen="_cloneOpen"
    IsOpenChanged="v => _cloneOpen = v"
    Title="Clone resource"
    Description="Enter a name for the cloned resource"
    Label="New resource name"
    Value="@($"{Server.Name}-copy")"
    OnSubmit="HandleCloneSubmit"
    TestIdPrefix="server-clone" />


@code {
    [Parameter] [EditorRequired] public Server Server { get; set; } = default!;

    #region RAM

    private bool _isRamModalOpen;

    private void EditRam()
    {
        _isRamModalOpen = true;
    }

    private async Task HandleRamSubmit(Ram? value)
    {
        _isRamModalOpen = false;
        await UpdateUseCase.ExecuteAsync(Server.Name, value?.Size ?? 0, value?.Mts ?? 0, Server.Ipmi);
        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    #endregion

    #region CPU

    bool _cpuModalOpen;
    int _editingCpuIndex;
    Cpu? _editingCpu;

    void OpenAddCpu()
    {
        _editingCpuIndex = -1;
        _editingCpu = null;
        _cpuModalOpen = true;
    }

    void OpenEditCpu(Cpu cpu)
    {
        _editingCpu = cpu;
        Server.Cpus ??= new List<Cpu>();
        _editingCpuIndex = Server.Cpus.IndexOf(cpu);
        ;
        _cpuModalOpen = true;
    }

    async Task HandleCpuSubmit(Cpu cpu)
    {
        Server.Cpus ??= new List<Cpu>();

        if (_editingCpuIndex < 0)
        {
            await AddCpuUseCase.ExecuteAsync(Server.Name, cpu.Model, cpu.Cores, cpu.Threads);
        }
        else
        {
            await UpdateCpuUseCase.ExecuteAsync(Server.Name, _editingCpuIndex, cpu.Model, cpu.Cores, cpu.Threads);
        }

        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    async Task HandleCpuDelete(Cpu cpu)
    {
        await RemoveCpuUseCase.ExecuteAsync(Server.Name, _editingCpuIndex);
        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    #endregion

    #region Drives

    bool _driveModalOpen;
    int _editingDriveIndex;
    Drive? _editingDrive;

    void OpenAddDrive()
    {
        _editingDriveIndex = -1;
        _editingDrive = null;
        _driveModalOpen = true;
    }

    void OpenEditDrives(Drive drive)
    {
        _editingDrive = drive;
        Server.Drives ??= new List<Drive>();
        _editingDriveIndex = Server.Drives.IndexOf(drive);
        ;
        _driveModalOpen = true;
    }

    async Task HandleDriveSubmit(Drive drive)
    {
        Server.Drives ??= new List<Drive>();

        if (_editingDriveIndex < 0)
        {
            await AddDriveUseCase.ExecuteAsync(Server.Name, drive.Type, drive.Size);
        }
        else
        {
            await UpdateDriveUseCase.ExecuteAsync(Server.Name, _editingDriveIndex, drive.Type, drive.Size);
        }

        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
        StateHasChanged();
    }

    async Task HandleDriveDelete(Drive drive)
    {
        await RemoveDriveUseCase.ExecuteAsync(Server.Name, _editingDriveIndex);
        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
        StateHasChanged();
    }

    #endregion

    #region NICs

    bool _nicModalOpen;
    int _editingNicIndex;
    Nic? _editingNic;

    void OpenAddNic()
    {
        _editingNicIndex = -1;
        _editingNic = null;
        _nicModalOpen = true;
    }

    void OpenEditNic(Nic nic)
    {
        Server.Nics ??= new List<Nic>();
        _editingNicIndex = Server.Nics.IndexOf(nic);
        _editingNic = nic;
        _nicModalOpen = true;
    }

    async Task HandleNicSubmit(Nic nic)
    {
        Server.Nics ??= new List<Nic>();

        if (_editingNicIndex < 0)
        {
            await AddNicUseCase.ExecuteAsync(
                Server.Name,
                nic.Type,
                nic.Speed,
                nic.Ports);
        }
        else
        {
            await UpdateNicUseCase.ExecuteAsync(
                Server.Name,
                _editingNicIndex,
                nic.Type,
                nic.Speed,
                nic.Ports);
        }

        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    async Task HandleNicDelete(Nic nic)
    {
        await RemoveNicUseCase.ExecuteAsync(Server.Name, _editingNicIndex);
        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    #endregion

    #region GPUs

    bool _gpuModalOpen;
    int _editingGpuIndex;
    Gpu? _editingGpu;

    void OpenAddGpu()
    {
        _editingGpuIndex = -1;
        _editingGpu = null;
        _gpuModalOpen = true;
    }

    void OpenEditGpu(Gpu gpu)
    {
        Server.Gpus ??= new List<Gpu>();
        _editingGpuIndex = Server.Gpus.IndexOf(gpu);
        _editingGpu = gpu;
        _gpuModalOpen = true;
    }

    async Task HandleGpuSubmit(Gpu gpu)
    {
        Server.Gpus ??= new List<Gpu>();

        if (_editingGpuIndex < 0)
        {
            await AddGpuUseCase.ExecuteAsync(
                Server.Name,
                gpu.Model,
                gpu.Vram);
        }
        else
        {
            await UpdateGpuUseCase.ExecuteAsync(
                Server.Name,
                _editingGpuIndex,
                gpu.Model,
                gpu.Vram);
        }

        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    async Task HandleGpuDelete(Gpu gpu)
    {
        await RemoveGpuUseCase.ExecuteAsync(Server.Name, _editingGpuIndex);
        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
    }

    #endregion

}

@code {
    private bool _confirmDeleteOpen;
    [Parameter] public EventCallback<string> OnDeleted { get; set; }

    void ConfirmDelete()
    {
        _confirmDeleteOpen = true;
    }

    async Task DeleteServer()
    {
        _confirmDeleteOpen = false;

        await DeleteUseCase.ExecuteAsync(Server.Name);

        if (OnDeleted.HasDelegate)
            await OnDeleted.InvokeAsync(Server.Name);
    }

}

@code
{
    bool _renameOpen;

    void OpenRename()
    {
        _renameOpen = true;
    }

    async Task HandleRenameSubmit(string newName)
    {
        await RenameUseCase.ExecuteAsync(Server.Name, newName);
        Nav.NavigateTo($"resources/hardware/{newName}");
    }

}

@code
{
    bool _cloneOpen;

    void OpenClone()
    {
        _cloneOpen = true;
    }

    async Task HandleCloneSubmit(string newName)
    {
        await CloneUseCase.ExecuteAsync(Server.Name, newName);

        Nav.NavigateTo($"resources/hardware/{newName}");
    }

}


@code
{
    bool _editingNotes;
    string? _notesDraft;

    void BeginNotesEdit()
    {
        _editingNotes = true;
        _notesDraft = Server.Notes; // draft buffer
    }

    void CancelNotesEdit()
    {
        _editingNotes = false;
        _notesDraft = null; // discard
    }

    async Task SaveNotes()
    {
        _editingNotes = false;

        await UpdateUseCase.ExecuteAsync(
            Server.Name,
            Server.Ram?.Size,
            Server.Ram?.Mts,
            Server.Ipmi,
            _notesDraft);

        Server = await GetByNameUseCase.ExecuteAsync(Server.Name);
        _notesDraft = null;
    }


}
